.sidebar {
  position: fixed;
  left: 0;
  top: 72px;
  bottom: 0;
  z-index: 1;
  width: 199px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin-bottom: 10px; 
  cursor: pointer;
  height: 50px;
}

.ant-menu-title-content {
  color: black !important;
  font-size: 1rem;
  font-weight: 700;
  height:45px !important;
}

.sidebar-container{
  height:0px;
  width:0px;
}

.ant-menu-title-content a:hover {
    color: #37b4af !important;
}
.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
  background-color: rgba(0,0,0,0.02); 
}
.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child a {
  color: #37b4af !important; 
}
/* .ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child a[href="/recurringExpense"]:visited {
  color: #37b4af;
  background-color: rgba(0, 0, 0, 0.02); 
} */