.header {
  display: flex;
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;
  background-color: #f6f6f6;
  
}

.back-button,
.title {
  margin-right: 1rem;
}

.custom-button {
  margin-left: auto;
  color: #fff;
    background: #37b4af !important;
    height: 40px;
    border: none;
    cursor: pointer;
    /* padding: 6.4px 15px; */
    border-radius: 2px;
    font-size: 18px;
    font-weight: 400;
    margin-right: 20px !important;
}

.back-button:hover,
.custom-button:hover {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.header h1 {
  margin-left: 0 !important;
  font-weight: 600;
  font-size: 30px;
  padding-left: 10px;
}

/* .custom-divider {
  margin-left: 35px;
  margin-right: 5005px;
} */