.home-container {
    display: flex;
    flex-direction: column;
  }
  
  .content-wrapper {
    display: flex;
    flex-direction: row;
  }
  
  .sidebar-container {
    flex: 0 0 200px;
  }
  
  .main-content {
    flex: 1;
    overflow: hidden;
  }
  
  .main-content-inner {
    margin: 64px 16px 0;
    overflow: initial;
  }
  